<!DOCTYPE html>
<html>
  <head>
  <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <% include ./header.ejs %>
  </head>
  <body>
    <h1>query string Exam</h1>

  </body>
</html>



<script>

</script>
