<!DOCTYPE html>
<html>
  <head>
  <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <% include ./header.ejs %>
  </head>
  <body>
    <h1>query string Exam!</h1>
    <a href="/topic/0">JavaScript</a><br>
    <a href="/topic/1">Nodejs</a><br>
    <a href="/topic/2">Express</a><br><br>
    <a><%= topics %></a>
  </body>
</html>



<script>
// $("#aTag").click(function() {
//
//   if(testBool){
//     var htmlString = $( this ).html();
//     $( this ).text("aaaaaaaaaaaa" );
//   }else{
//     var htmlString = $( this ).html();
//     $( this ).text("query Test" );
//   }
//   testBool = !testBool;
//
// });
//
//
// ClickTest = function(){
//   console.log("Click!");
// }

</script>
